########## MACROS ###########################################################################
#############################################################################################
{{ conan_message }}
{{ conan_find_apple_frameworks }}
{{ conan_package_library_targets }}

{% block global_vars %}
{% include 'target_buildtype_single.jinja' %}
{% endblock %}

{% block components %}
{% endblock %}